body {
	font-family: 'Courier New', monospace;
	background-image: url("../data/background.jpg");
	background-color: rgb(4, 4, 4);
	background-attachment:fixed;
	background-size: cover;
	margin: 0;
	padding: 1% 10% 1% 10%;
}
@media screen and (min-width: 601px) {
  body {
    font-size: 32px;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 22px;
  }
}
h1 {
	text-align: center;
}
h2, h3 {
	text-align: left;
}
h1, h2, h3 {
	color: rgb(255, 33, 108);
}
p {
   	color: rgb(255, 255, 255);
}
span {
	color: rgb(108, 33, 255);
}
ul li {
  display: inline-block;
}
a {
	color: rgb(33, 108, 255);
}
iframe {
	display: inline-block;
	max-width: 960;
	max-height: 540;
	width: 100%;
	height: calc((9/16)*100vw); /* this is from benat hehe*/
}
img, video {
	max-width: 960;
	max-height: 540;
	width: 100%;
	height: auto;
}
.selectable {
	border: 5px solid rgb(32, 32, 32);
}
.selectable:hover {
    border: 5px solid rgb(255, 33, 108);
}
.link {
	color: rgb(255, 108, 33);
}
.cool {
	display: block;
}
.container {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}
.bottom_left {
  position: absolute;
  bottom: 8px;
  left: 0px;
  background-color: rgba(40, 40, 40, 0.7);
}
.download {
	color: rgb(33, 255, 108);
}