body {
	background-color: rgb(10, 10, 10);
	font-family: 'Courier New', monospace;
}
h1 {
	text-align: center;
}
h2, h3 {
	text-align: left;
}
h1, h2, h3 {
	color: rgb(255, 33, 108);
}
p {
   	color: rgb(255, 255, 255);
}
span {
	color: rgb(108, 33, 255);
}
ul li{
  display: inline-block;
}
.topnav {
	overflow: hidden;
}
.topnav a{
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
img {
    width: 256;
    height: auto;
}*/